@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #4f46e5; /* bg-indigo-600 */
    --color-text-muted: #1f2937; /* bg-gray-800 */
    --color-fill: #e5e7eb;  /* bg-gray-200 */
    --color-text-inverted: #e5e7eb; /* bg-gray-200 */
    --color-button-base: #4f46e5; /*bg-indigo-600 */
  }
  
  [data-theme='blue'], [data-theme='blue'] .light {
    --color-text-base: #fff;
    --color-text-muted: #bfdbfe;
    --color-fill: 30 64 175; /*#1e40af*/
    --color-text-inverted: #1d4ed8;
    --color-button-base: #fff;
  }
  /* golden-lavender */
  .dark[data-theme='blue'], [data-theme='blue'] .dark {
    --color-fill: 0 50 0;
  }

  [data-theme='red'], [data-theme='red'] .light {
    --color-text-base: #fff;
    --color-text-muted: #fecaca;
    --color-fill: 153 27 27; /*#991b1b*/
    --color-text-inverted: #b91c1c;
    --color-button-base: #fff;
  }
  .dark[data-theme='red'], [data-theme='red'] .dark {
    --color-fill: 0 0 0;
  }

  [data-theme='purple'] {
    --color-text-base: #fff;
    --color-text-muted: #e9d5ff;
    --color-fill: #6b21a8;
    --color-text-inverted: #7e22ce;
    --color-button-base: #fff;
  }
}
